@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  background-color: white, #f7f7f7;
}

.dropzone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  height: 200px;
  border: 2px dashed #FFE454;
  border-radius: 10px;
  padding: 2rem;
}


