#rocket {
  position: absolute;
  top: 100%;
  left: 256%;
  /* transform: translateY(-50%); */
  animation: slideUpper 0.5s ease-in-out 0.5s forwards;
}
#smoke {
  position: absolute;
  top: 135%;
  left: 125%;
  /* transform: translateY(-10%); */
  animation: slideUp 0.5s ease-in-out 0.5s forwards;
}
.moveUp {
  animation: slideUp 0.5s ease-in-out 0.5s forwards;
  /* animation-delay: 0.5s; */
}

@keyframes slideUpper {
  to {
    transform: translateY(-500%);
  }
}
@keyframes slideUp {
  to {
    transform: translateY(-80%);
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .box {
    height: 150px;
  }
}
