.mmil-logo{
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 11rem;
    height: 6rem;
    opacity: 1; 
}
.card{
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, #666666,#4d4d4d, #262626, #1a1a1a, #0d0d0d);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 23rem;
}
.sub-card{
    color: #000000;
    /* max-height: 6rem; */
    margin-bottom: 10px;
    border-radius: 14px;
    text-align: center;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20.5rem;
}
.sub-card:hover{
    cursor: pointer;
}
.roundNo{
    font-weight: 500;  
    margin: 0; 
    font-size: 14px; 
}
.roundName{
    font-family: "Montserrat";
    letter-spacing: 0;
    font-size: 22px;
    margin: 0;  
}
.roundDescription{
    font-size: 10px;
    margin: 0;
}
.aptitude{
    z-index: 5000;
    background-color: #FFE6DF;
}
.technical{
    z-index: 5000;
    background-color: #FFFAE7;
}
.interview{
    z-index: 5000;
    background-color: #B6E8FF;
}
.link{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    font-weight: bolder;
    border-radius: 14px;
    cursor: pointer;
    width: 21rem;  
    background-color: #FFE454;
    text-decoration: none;
    color: black;
    font-family: 'Montserrat';
    letter-spacing: 0;
    font-size: 22px;
}
.link:hover{
    color: #FFE454;
    background-color: #009A0F;
}
.expanded-list{
    margin: 0;
    font-size: 10px;
    display: none;
    z-index: 999;
}
.expanded-list ul{
    display: flex;
    flex-direction: column;
}
.instructionsStudents{
    margin-top: 5px;
    font-size: 12px;
    font-weight: bold;
    list-style: none;
}
.sub-card ul li button{
    border-radius: 5px;
    background-color: #fff;
    margin-top: 10px;
    border: 1px solid rgb(128, 128, 128, 0.5);
}
.sub-card ul li button a{
    text-decoration: none;
    padding: 0 70px;
    background-color: #fff;
}
.expanded{
    height: 33rem;
}