.main img {
    width: 100vw;
    height: 145vh;
    background-size: cover;
    background-position: center;
}
.technical-main img{
    width: 100vw;
    height: 130vh;
    background-size: cover;
    background-position: center;
}

#first img {
    top: 5%;
    position: absolute;
    left: 40%;
    height: 15%;
    width: 14%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.domains {
    width: 474px;
    height: 55px;
    border: 1px solid white;
    top: 25.5%;
    left: 30%;
    position: absolute;
    border-radius: 16px;
}

.fields ul {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    list-style: none;
    margin-top: 2%;
}

.fields ul li {
    margin-left: -2%;
    margin-right: 4%;
}
.fields ul li a{
    text-decoration: none;
    color: white;
    cursor: pointer;
    letter-spacing: 0px;
}

.fields ul li:first-child:hover, .fields ul li:first-child:active{
    border-bottom: 2px solid  #FB0707;
}
.fields ul li:nth-child(2):hover, .fields ul li:nth-child(2):active{
    border-bottom: 2px solid #FFE454;
}
.fields ul li:nth-child(3):hover, .fields ul li:nth-child(3):active{
    border-bottom: 2px solid #0D99FF;
}
.fields ul li:nth-child(4):hover, .fields ul li:nth-child(4):active{
    border-bottom: 2px solid #32C766;
}

.container {
    border: 1px solid white;
    border-radius: 10px;
    height: 710px;
    width: 464px;
    top: 35%;
    position: absolute;
    left: 30%;
    background: linear-gradient(to right, #666666,#4d4d4d, #262626, #1a1a1a, #0d0d0d);
}
.technical-container{
    border: 1px solid white;
    border-radius: 10px;
    height: 480px;
    width: 464px;
    top: 35%;
    position: absolute;
    left: 30%;
    background: linear-gradient(to right, #666666,#4d4d4d, #262626, #1a1a1a, #0d0d0d);

}

.rounds {
    color: white;
    font-size: 30px;
    margin-top: 5%;
}

.rounds p {
    font-family: Montserrat;
}

.instructions {
    margin-top: -10%;
    border: 1px solid black;
    background-color: rgba(255, 250, 231, 1);
    color: black;
    height: 322px;
    width: 435px;
    top: 143px;
    position: absolute;
    left: 14px;
    border-radius: 10px;
}

.button {
    height: 26px;
    width: 265px;
    font-size: 14px;
    border: 1px solid rgba(255, 255, 255, 1);
    margin-bottom: 20px;
}

.button a {
    text-decoration: none;
}

.webdev {
    border: 1px solid black;
    background-color: rgba(255, 250, 231, 1);
    color: black;
    height: auto;
    width: 435px;
    top: 83px;
    position: absolute;
    left: 14px;
    border-radius: 10px;
    padding: 5px;
}

.webdev p, .instructions p {
    font-size: 12px;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.webdev h6, .instructions h6 {
    font-size: 10px;
    margin-top: -8px;
}

.webdev h1, .instructions h1 {
    font-size: 24px;
    font-family: Montserrat;
    margin-top: -14px;
}

.webdev h5, .instructions h5 {
    font-size: 15px;
    margin-top: 7%;
    font-weight: 500;
    margin-bottom: 4%;
}

.webdev ul, .instructions ul {
    font-size: 12px;
    text-align: left;
}

.webdev ul li, .instructions ul li {
    margin-left: 14px;
    text-align: left;
}

label{
    font-weight: 400;
    font-size: 10px;
    display: flex;
    align-items: left;
    margin-left: 18%;
}

.inputBox {
    display: flex;
    align-items: left;
    margin-left: 16%;
    width: 70%;
    height: 40px; 
    box-sizing: border-box;
    border: 1px solid rgba(29, 29, 29, 1);
    border-radius: 10px;
    padding: 6px;
    margin-bottom: 6%;
}

.inputBox input {
    flex: 1;
    border: none;
    outline: none;
    background: none;
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid rgba(29, 29, 29, 1);
    box-sizing: border-box; 
    height: 100%; 
}
.inputBox input::placeholder{
    opacity: 0.4;    
}
.submit{
background-color: #6A6A6A;
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
outline: none;
border: none;
border-radius: 15px;
font-size: 16px;
font-weight: 600;
padding: 6px 16px;
margin: 1rem 0rem;
}
.submit:hover{
background-color: #FFFFFF;
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
color: #0D99FF;
border-radius: 15px;
}
.submit:active{
background: #7BFD88;
box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.25);
border-radius: 15px;
color: #0D99FF;
}

.website {
    width: 40%px;
    height: 9px;
    left: 3px;
    font-size: 8px;

}

@media screen and (max-width: 900px) {
    .main img {
        height: 145vh;
    }
    .technical-main img{
        height: 110vh;
        width: 100vw;
    }

    #first img {
        top: 10%;
        left: 32%;
        height: 13%;
        width: 44%;
    }

    .domains {
        left: 10%;
        width: 82%;
        height: 45px;
        
    }

    .fields ul li {
        font-size: 12px;
        margin-top: 4px;
    }

    .container {
        margin-left: -20%;
        width: 82%;
        height: 705px;
    }
    .technical-container{
        margin-left: -20%;
        width: 305px;
        height: 415px;
    }

    .instructions {
        margin-top: -20%;
        height: 310px;
        width: 271px;
        border-radius: 20px;
        padding: 6px;
    }

    .button {
        margin-top: 18vh;
        height: 14px;
        width: 171px;

    }

    .button a {
        font-size: 8px;
        top: 212px;
        left: 110px;
        position: absolute;

    }

    .webdev {
        width: 74vw;
    }

}